@charset "UTF-8";
div {
display: block;
}
.col-xs-10 {
width : 83.33%;
}
.col-xs-9 {
width : 75%;
}
.col-xs-8 {
width : 66.67%;
}
.col-xs-6 {
width : 50%;
}
.col-xs-4 {
width : 33.33%;
}
.col-xs-3 {
width : 25%;
}
.col-xs-2 {
width : 16.67%;
}
.panel {
border-color: #e6e6e6 !important;
border: 1px solid transparent;
}
.font-gray {
color: #878787; 
font-size: 13px; 
text-align:center;
}
.input {
width:100%;
}
.select-control {
background: #fff;
position: relative;
}
.list-style {
list-style:none; 
padding: 20px;
}
.list-style>li {
border-color: #e6e6e6 !important;
border: 1px solid transparent;
padding : 20px;
display: flex;
line-height: 40px;
}
.more-option-area>li {
border-color: #e6e6e6 !important;
border: 1px solid transparent;
padding : 20px;
display: flex;
line-height: 40px;
}
.check-box {
height:1em;
width:20px;
}
.input-boxs {
height:40px; 
width:320px; 
font-size: 14px; 
padding: 20px;
border: 1px solid #e6e6e6;
}
.option-box {
height:20px; 
padding: 15px; 
font-size:12px;
}
.input-span {
color:#4D4D4D; 
font-size: 13px; 
position:relative; 
right:30px;
}
.opt-cation {
font-size:13px; 
font-weight:bold; 
padding-left:20px;
}
.close {
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}
.close:hover,
.close:focus {
color: black;
text-decoration: none;
cursor: pointer;
}
.next-button {
color : black; 
font-size: 13px;
float:right;
background-color:#FFBC42; 
border: 1px solid #FFBC42; 
height: 45px; 
width:200px;
}
.pre-button {
color : black; 
font-size: 13px;
float:left;
background-color:#fff; 
border: 1px solid #6c757d; 
height: 45px; 
width:200px;
}
#fixSpan, #periodSpan {
color:red;
display:none;
font-size:12px;
}
.reportImg {
width:14px;
}
.text-area {
resize:none; 
line-height:15px;
font-size:13px;
padding:15px;
width:100%;
}
.sell-content {
width:1100px;
}
.row {
	width:100%;
}
.main-img {
	width:100%;
}