@charset "UTF-8";

footer.footer {
    padding-bottom: 0px;
}

.footer > div {

    width: 90%;
    padding: 5%;
}

.main-footer {
    width: 100%;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
    border-top: 0.2px solid #4d4d4d;
    border-bottom: 0.2px solid #4d4d4d;
    text-align: justify;
}

.main-footer > div {
    width: 50%;
    float: left;

}

.main-footer > div:last-child {
    text-align: right;

}

.main-footer > div:last-child > div {
    float: right;
}

.ft-meister-menu {}

.ft-meister-menu > p,
.ft-meister-notice > p,
.ft-minfo-title {
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    color: #4d4d4d;
}

.ft-meister-menu > div > a,
.ft-meister-notice > div > a {
    font-size: 13px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #4d4d4d;

}

.ft-meister-menu > div > a:hover,
.ft-meister-notice > div > a:hover {
    text-decoration: none;
    color: #ffbc42;
}

.ft-meister-notice {
    margin-left: 50px;
    margin-right: 0px;
}

}

.ft-minfo-title {
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    color: #4d4d4d;

}

.ft-minfo-content > p {
    font-size: 13px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #4d4d4d;
    margin-bottom: 3px;
}

.ft-minfo-content > p:first-child {
    margin-top: 5%;
}


.ft-meister-msg > p:first-child {
    margin-bottom: 2px;
}

.ft-meister-msg > p {
    text-align: center;
    font-size: 13px;
    font-family: 'Noto Sans KR', sans-serif;
    color: #4d4d4d;
}

.ft-meister-msg > p:last-child {
    color: #ffbc42;
}
