@charset "UTF-8";@charset "UTF-8";

header{
    top:0;
}

.navbar-brand {
    font-size: 12px;
    font-weight: 700;
    color: #4D4D4D;
    font-family: 'Noto Sans KR', sans-serif;

}

.navbar > .container {
    justify-content: flex-start;
    width: 400px;
    margin-left: 20px;
}

header.masthead {
    padding-top: 10px;
    padding-bottom: 10%;
}

.header-logo-p {
    margin-top: 120px;
}


.member-top-menu {
    color: #4D4D4D;
   font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 700;

}

.member-top-menu:hover {
    color: #4d4d4d;
    text-decoration: none;
}

.member-top-menu {
    margin-left: 10px;
}

.btn-insert {
    margin-left: 20px;
    background-color: #FFBC42;
    border: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 700;
    margin-right: -5%;
    outline: 0 none;
}

.btn-insert:hover {
    background-color: whitesmoke;
    box-shadow: 0px 0px 7px #FFBC42;
    color: #4D4D4D;
}
.btn-insert:active {
    background-color: #FFBC42;
    color: #4d4d4d;
    border-color: #FFBC42;
    box-shadow: 0px 0px 2px #FFBC42;
    outline-color: #ffbc42;
}

.hd {
    display: inline-block
}

.hd-menu {
    width: 92%;
    margin: 0 auto;
}

.hd-logo {
    width: 18%;
    margin-top: 1%;
}

.hd-logo > a > img {
    width: 100%;
}

.hd-search {
    width: 20%;
    margin-left: 30%;
    margin-top: 2%;
}

.hdsc {
    position: relative;
    width: 100%;
}

.hdsc > input {
    padding-left: 13%;
}

.hdsc > span {
    position: absolute;
    margin-top: 1%;
    margin-left: 3%;
}

.hdsc > span > a > i {
    color: #4d4d4d;
}

.hd-member {
    width: 30%;
    margin-top: 2%;
    text-align: right;

}

.hd-category {
    clear: left;
    width: 100%;
    margin-top: 1%;
}

.hd-category > ul {
    list-style: none;
    padding-left: 0;
    width: 40%;
    height: 45px;
    margin: 0 auto;

}

.hd-category > ul > li {
    display: inline-block;
    width: 45%;
}

.hd-category a {
    display: block;
    color: #4D4D4D;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    font-weight: 700;
}

.hd-category a:hover {
    text-decoration: none;
    color: #FFBC42;
}

.hd-category > ul > li:first-child > a {
    text-align: left;
}

.hd-category > ul > li:last-child > a {
    text-align: right;
}



.side-info-menu {
    z-index: 1200;
    width: 8%;
    position: fixed;
}

.sim-div {
    width: 85%;
}

.sim-btn {
    width: 7%;

}

.sim-btn > a {
    color: #4d4d4d;
}

.sim-btn > a:hover {
    color: #FFBC42;
}

.side-info-menu > div {
    display: inline-block;
    height: 45%;
}

.sim-btn > a > i {
    line-height: 100%;
}



.sim-div > div {
    width: 100%;

    text-align: center;
    padding: 12%;
    background-color: #4d4d4d;
}

.sim-div > div:first-child {
    border-top-right-radius: 10px;
}

.sim-div > div:last-child {
    border-bottom-right-radius: 10px;
}

.sim-div a {
    width: 100%;
    height: 100%;
    color: aliceblue;

}

.sim-div a:hover {
    text-decoration: none;
    color: #FFBC42;
}

.sim-open {
    margin-left: 0px;
    transition-duration: 0.7s;
}

.sim-close {
    margin-left: -6%;
    transition-duration: 0.7s;
}

.normal-header {
    width: 100%;
    z-index: 1000;
    height: 210px;
    background-color: white;
    border-bottom: 1px solid #dbdbdb;
}

.normal-header>.n-header {
    width: 100%;
    border-top: 0.5px solid lightgray;
    padding-bottom: 5%;
    height: 140px;
}

.static-top {
    width: 100%;
    background-color: #f8f9fa;
}

.nav-down {
    margin-top: 0;
}

.nav-up {
    margin-top: -15%;
}

section > .container {
    margin-top: 15%;
}



.hd-member > .btn-insert {
    margin-left: 20px;
    background-color: #FFBC42;
    border: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: white;
}

.hd-member > .btn-insert:hover {
    background-color: whitesmoke;
    box-shadow: 0px 0px 7px #FFBC42;
    color: #4D4D4D;
}


.hd-member > .btn-insert:active {
    background-color: #FFBC42;
    color: #4d4d4d;
    border-color: #FFBC42;
    box-shadow: 0px 0px 2px #FFBC42;
}
.header{
    width: 100%;
}







/*일반 버튼*/

.btn-yr-normal {
    background-color: #FFBC42;
    border: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 700;
    outline: 0 none;
    color: white;
}

.btn-yr-normal:hover {
    background-color: #ffbc42;
    box-shadow: 0px 0px 7px #FFBC42;
    color: #4D4D4D;
}
.btn-yr-normal:active {
    background-color: #4d4d4d;
    color: #ffbc42;
    border-color: #FFBC42;
    box-shadow: 0px 0px 2px #FFBC42;
    outline-color: #ffbc42;
}


.btn-yr-normal-gray {
    background-color: #4d4d4d;
    border: #4d4d4d;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 700;
    outline: 0 none;
    color: white;
}

.btn-yr-normal-gray:hover {
    background-color: #4d4d4d;
    box-shadow: 0px 0px 2px #4d4d4d;
    color: #ffbc42;
}
.btn-yr-normal-gray:active {
    background-color: #FFBC42;
    color: white;
    border-color: #FFBC42;
    box-shadow: 0px 0px 2px #FFBC42;
    outline-color: #ffbc42;
}

/*일반 input*/
.input-yr-normal{
    border: 2px solid #eeeeee;
    box-shadow: 0px 0px 2px #eee;
    outline: 0 none;
    border-radius: 5px;
    padding-left: 3%;
    padding-right: 3%;
}
.input-yr-normal:focus{
    border: 2px solid #ffbc42;
    box-shadow: 0px 0px 3px #ffbc42;
}
