@charset "UTF-8";

.navbar-brand {
        font-size: 12px;
        font-weight: 700;
        color: #4D4D4D;
        font-family: 'Nanum Gothic Coding', monospace;

    }

    .navbar>.container {
        justify-content: flex-start;
        width: 400px;
        margin-left: 20px;
    }

    header.masthead {
        padding-top: 10px;
        padding-bottom: 10%;
    }

    .header-logo-p {
        margin-top: 120px;
    }


    .member-top-menu {
        color: #4D4D4D;
        font-family: 'Nanum Gothic Coding', monospace;
        font-size: 15px;
        font-weight: 700;

    }

    .member-top-menu:hover {
        color: #4d4d4d;
        text-decoration: none;
    }

    .member-top-menu {
        margin-left: 10px;
    }

    .btn-primary {
        margin-left: 20px;
        background-color: #FFBC42;
        border: white;
        font-family: 'Nanum Gothic Coding', monospace;
        font-size: 15px;
        font-weight: 700;
        margin-right: -5%;
    }

    .btn-primary:hover {
        background-color: whitesmoke;
        box-shadow: 0px 0px 7px #FFBC42;
        color: #4D4D4D;
    }

    .hd {
        display: inline-block
    }

    .hd-menu {
        width: 92%;
        margin: 0 auto;
    }

    .hd-logo {
        width: 18%;
        margin-top: 1%;
    }

    .hd-logo>a>img {
        width: 100%;
    }

    .hd-search {
        width: 20%;
        margin-left: 30%;
        margin-top: 2%;
    }

    .hdsc {
        position: relative;
        width: 100%;
    }

    .hdsc>input {
        padding-left: 13%;
    }

    .hdsc>span {
        position: absolute;
        margin-top: 1%;
        margin-left: 3%;
    }

    .hdsc>span>a>i {
        color: #4d4d4d;
    }

    .hd-member {
        width: 30%;
        margin-top: 2%;
        text-align: right;

    }

    .hd-category {
        clear: left;
        width: 100%;
        margin-top : 3%;
        padding-bottom : 1%;
    }

    .hd-category>ul {
        list-style: none;
        padding-left: 0;
        width: 40%;
        margin: 0 auto;

    }

    .hd-category>ul>li {
        display: inline-block;
        width: 45%;
    }

    .hd-category a {
        display: block;
        color: #4D4D4D;
        font-family: 'Nanum Gothic Coding', monospace;
        font-size: 17px;
        font-weight: 700;
        margin-bottom : 2%;
    }

    .hd-category a:hover {
        text-decoration: none;
        color: #FFBC42;
    }

    .hd-category>ul>li:first-child>a {
        text-align: left;
    }

    .hd-category>ul>li:last-child>a {
        text-align: right;
    }



    .side-info-menu {
        z-index: 1200;
        width: 8%;
        position: fixed;
        margin-top: 12%;
    }

    .sim-div {
        width: 85%;
    }

    .sim-btn {
        width: 7%;

    }

    .sim-btn>a {
        color: #4d4d4d;
    }

    .sim-btn>a:hover {
        color: #FFBC42;
    }

    .side-info-menu>div {
        display: inline-block;
        height: 45%;
    }

    .sim-btn>a>i {
        line-height: 100%;
    }



    .sim-div>div {
        width: 100%;

        text-align: center;
        padding: 12%;
        background-color: #4d4d4d;
    }

    .sim-div>div:first-child {
        border-top-right-radius: 10px;
    }

    .sim-div>div:last-child {
        border-bottom-right-radius: 10px;
    }

    .sim-div a {
        width: 100%;
        height: 100%;
        color: aliceblue;

    }

    .sim-div a:hover {
        text-decoration: none;
        color: #FFBC42;
    }

    .sim-open {
        margin-left: 0px;
        transition-duration: 0.7s;
    }

    .sim-close {
        margin-left: -7%;
        transition-duration: 0.7s;
    }

    .normal-header {
        position: fixed;
        z-index: 1000;

    }
    

    .n-header {
        background-color: white;
        border-top: 0.5px solid lightgray;
    }

    .static-top {
        background-color: #f8f9fa;
    }

    .nav-down {
        margin-top: 0;
    }

    .nav-up {
        margin-top: -15%;
    }
    
    .content-box-yr{
    	padding-top: 15%;
    }
    