.login-pic-div {
    width: 100%;
    height: 100%;
    position: relative;


}

.btn-close-modal {
    position: absolute;
    z-index: 14;
    color: #eeeeee;
    margin-top: 1%;
    margin-left: 97%;
}


.login-pic-div > img {
    z-index: 8;
    border-radius: 8px;
}

.login-input-div {
    position: absolute;
    z-index: 12;
    float: right;
    width: 40%;
    height: 85%;
    background-color: black;
    border-radius: 8px;

    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 55%;
    opacity: 0.5;
}

.login-input-box {
    position: absolute;
    z-index: 14;
    float: right;
    width: 30%;
    height: 75%;

    margin-top: 9%;
    margin-left: 60%;
    opacity: 1;
}

.login-title-dv {
    font-size: 50px;
    font-family: 'Viga', sans-serif;
    text-align: left;
    color: #eeeeee;
    opacity: 0.7;
}

.login-input-dv {
    margin-top: 2%;
    margin
}

.login-input {
    margin-top: 2%;
    width: 95%;
    height: 37px;
    font-size: 14px;
    padding-left: 3%;
    padding-right: 3%;
    font-family: 'Noto Sans KR', sans-serif;
    border-radius: 5px;
    border: 1px solid #eeeeee;
    border-color: none;
    outline: 0 none;

}


.btn-in-modal,
.btn-log-ins {
    margin-top: 5%;
    width: 95%;
    height: 40px;
    margin-left: 0;
    margin-right: 0;

    background-color: #FFBC42;
    border: 1px solid #FFBC42;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: white;
}

.login-chk-dv {
    margin-top: 3%;
    color: #eeeeee;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    height: 45px;
}

.login-chk-dv > div {
    display: inline-block;
}

.login-chk-dv > div > a {
    color: #eeeeee;
    display: block;
}

.login-chk-dv > div > a:hover {
    text-decoration: none;
    color: #FFBC42;
}

.login-chk-dv > div:first-child {
    text-align: left;
    margin-right: 8%;
}

.login-chk-dv > div:last-child {
    text-align: right;

}

.login-chk-dv > div:first-child > input[type=checkbox] {
    display: none;


}

#checked-yellow {
    display: none;
}

#login-maintain + span > img {
    margin-top: -3px;
}

#login-maintain:checked + span > label {
    color: #FFBC42;
}

#login-maintain:checked + span>label>#checked-yellow {
    display: inline-block;
}

#login-maintain:checked + span>label>#checked-none {
    display: none;
}


.lm-la {
    margin-bottom: 0;
    line-height: 45px;
}

.login-line {
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
    border-top: 0.1px solid #eeeeee;
}

.login-msg {
    color: #eeeeee;
    text-align: center;

}

.login-msg > h6 {
    font-family: 'Noto Sans KR', sans-serif;
}

.btn-log-ins {
    margin-top: 5%;
    line-height: 30px;
}

.modal-in-logo {
    width: 15%;
    margin-top: 10%;
}

.btn-in-modal:active {
    background-color: #FFBC42;
    color: #4d4d4d;
    border-color: #FFBC42;
    box-shadow: 0px 0px 2px #FFBC42;
}

.btn-log-ins:active {
    background-color: #FFBC42;
    color: #4d4d4d;
    border-color: #FFBC42;
    box-shadow: 0px 0px 2px #FFBC42;
}

.login-msg-box {
    width: 100%;
    height: 50px;
    text-align: center;
    color: white;

    border: 1px solid red;
}
