@charset "UTF-8";
.pick_button {
position: absolute;
right: 5px;
top: 5px;
height: 25px;
}
.btn {
border: 1px solid #eeeeee;
}
.btn:hover {
color : #7DC947;
}
.selectPage {
border: 1px solid #eeeeee;
font-weight : bold;
padding : 12px;
padding-top : 6px;
padding-botton : 6px;
}
.card-img-top{
transform: scale(1);
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transition: all 0.3s ease-in-out; 
}
.card-img-top:hover {
transform: scale(1.2);
-webkit-transform: scale(1.2);
-moz-transform: scale(1.2);
-ms-transform: scale(1.2);
-o-transform: scale(1.2);
}
